Flask==2.3.3
flask-authorize==0.2.5
flask-parameter-validation==2.1.3
serverless-wsgi==0.2.0
requests==2.31.0
boto3==1.28.62
botocore==1.31.62
SQLAlchemy==1.4.53
psycopg2-binary==2.9.7
python-dateutil==2.8.2